.post-item-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  .post-detail {
    display: flex;
    align-items: center;
    gap: 8px;
    .row {
      gap: 4px;
    }
    .avatar {
      border-radius: 10px;
    }
  }
  .post-content {
    gap: 8px;
    .col {
      width: 100%;
    }
    .line {
      width: 32px;
      display: flex;
      justify-content: center;
      align-self: stretch;
      align-items: center;

      .line-item {
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.10);
      }
    }
  }
}
