.tabbar-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  z-index: 1;

  .upload-btn {
    padding: 6px;
    background: #000;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
