*,body {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-size: 15px;
}

.text-secondary {
    opacity: 40%;
}

.bold {
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}